
<header style="background-color: #4B89BF; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
  <h2 class="d-flex justify-content-center  pt-3 pb-3" style="color: #FFF;">Calendar.io</h2>
</header>

<div class="container mt-5 " >
  <!-- <h4  style="color: #362FD9;">Login</h4> -->
      <form class="form d-flex justify-content-center">
        <!-- verificar por que nao esta ficando responsivo -->
        <div class="form-group" style="margin-top: 25px; ">
          <input
          class="form-control m-3"
          placeholder="Nome de usuario"
          [(ngModel)]="login.email"
          name="usuario"
          />
          <input
          type="password"
          class="form-control m-3"
          placeholder="Senha"
          [(ngModel)]="login.senha"
          name="senha"
          />
          <button class="button m-3"  role="button" (click)="Logar()">Login</button>
        </div>
      </form>
</div>



