.nav-link{ color: #fff; } /*cor da letra na barra*/

.calendar {
  padding: 1rem 0 0;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  height: 85%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* "Today" button, Month switch buttons */
.fc-toolbar-chunk .fc-today-button, .fc-toolbar-chunk .fc-button-group button  {
  padding: .1rem 1rem;
  background-color: var(--cor-secundaria) !important;
}

.weekdays {
  display: flex;
}

.weekdays .day {
  flex: 1;
  padding: 5px;
}

.days {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.days .day {
  display: inline-block;
  width: calc(100% / 7);
  padding: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.days .day:hover {
  background-color: #f0f0f0;
}

/* Altera a div dos dias no calendário */
.fc-daygrid-day-frame {
  background-color: var(--cor-calendario);
}

.fc-toolbar-title {
  color: var(--cor-titulo);
}

.corBotao
{
  background-color: var(--cor-primaria);

}

.modal-content
{
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}




.fc-daygrid-day-top a {
  color: var(--cor-texto);
  text-decoration: none;
}

.full-calendar {
  height: 100%;
}

