body{ height: 100%}

.service{ background: #062837 } /*cor da barra*/

.nav-link{ color: #fff; } /*cor da letra na barra*/

body {
  font-family: Arial, sans-serif;
}
.calendar {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  height: 70%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weekdays {
  display: flex;
  background-color: #f0f0f0;
}

.weekdays .day {
  flex: 1;
  padding: 5px;
}

.days {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.days .day {
  display: inline-block;
  width: calc(100% / 7);
  padding: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.days .day:hover {
  background-color: #f0f0f0;
}
