/* You can add global styles to this file, and also import other style files */

:root{
  --cor-fundo: #ededed;
  --cor-texto:  #1d1d1d;
  --cor-primaria: #4DD1A5 ;
  /* ou esse 27C28C */

  --cor-secundaria: #ff2b70;
  --label-icon: url("https://caelum-online-public.s3.amazonaws.com/1369-alura-mais-dark-mode/lua.png");
}

.dark-mode {
  --cor-fundo: #333;
  --cor-texto: #ffffff;
  --label-icon: url("https://caelum-online-public.s3.amazonaws.com/1369-alura-mais-dark-mode/sol.png");
}

html, body{
  height: 100%;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

*{
  font-family: Calibri, Nunito, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

thead, header
{
  background-color: var(--cor-primaria); color: white;
}

.corBotao
{
  background-color: var(--cor-primaria); color:white;
}

.modal-content
{
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}
