/* You can add global styles to this file, and also import other style files */

:root{
  --cor-fundo: #1d1d1d;
  --cor-texto: #dedede;
  --cor-primaria: #004E64;
}

html, body{
  height: 100%;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

*{
  font-family: Calibri, Nunito, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

thead
{
  background-color: var(--cor-primaria); color: var(--cor-texto);
}

.corBotao
{
  background-color: var(--cor-primaria); color:var(--cor-texto);
}

.light{
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}
