/* You can add global styles to this file, and also import other style files */
@import url('app/schedule/schedule.component.css');
*{
  font-family: Calibri, Nunito, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
  --cor-fundo: #ededed;
  --cor-texto:  #1d1d1d;
  --cor-primaria: #283b86;
  --cor-calendario: #ebebeb;
  --cor-titulo: #3b3b3b;
  /* ou esse 27C28C */

  --cor-secundaria: #2f46a5;
  --label-icon: url("https://caelum-online-public.s3.amazonaws.com/1369-alura-mais-dark-mode/lua.png");
}

.dark-mode {
  --cor-fundo: #151b3a;
  --cor-texto: #6b6b6b;
  --cor-titulo: #f0f0f0;
  --cor-calendario: #797979;
  --label-icon: url("https://caelum-online-public.s3.amazonaws.com/1369-alura-mais-dark-mode/sol.png");
}

html, body{
  height: 100%;
  background-color: var(--cor-fundo);
  transition: 1s;
}



thead, header
{
  background-color: var(--cor-primaria); color: white;

}

